<!DOCTYPE html>
<html>
<head>
  <link href="compiled/styles.css" rel="stylesheet"></link>
  <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <h1>Hello World / {{testString}}</h1>
  <input type="text" ng-model="testString">
  <br/>
  <br/>
  <my-directive title="testString"></my-directive>
  <label>Search: <input ng-model="searchText"></label>
  <br/>
  <br/>
  <label>Name: <input ng-model="newItem.name"></label>
  <label>Phone: <input ng-model="newItem.phone"></label>
  <button ng-click="addItem(newItem)">Add item</button>
  <br/>
  <br/>
  <ul>
    <li ng-repeat="item in items | filter:searchText">
      <h2>{{item.name}}</h2>
      <h2>{{item.phone}}</h2>
      <button ng-click="items = removeItem($index)">Remove item</button>
    </li>
  </ul>
  <script src="compiled/app.js"></script>
</body>
</html>
